.body{
    background-color: #fff;
    padding: 20px;
    text-align: center;

}
    .card{
        background: white;
        border: 2px solid #ddd;
        border-radius: 10px;
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        gap: 10px;
    }
   .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

    .tarnsition-basic{
        transition: all 0.6s;
    }
    .tarnsition-basic:hover{
background-color:rgb(75, 33, 33);
color: aqua;
width: 280px;
    }
    .tarnsition-basic:active{
        background-color: rgb(0, 255, 128);
        color: black;
        width: 200px;
transform: translateY(40px);
    }
    .transtion-timing{
transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
     .transtion-timing:hover{
        transform: translateY(-30px);
     }
     .transtion-transform{
        transition: transform 0.3s ease-in-out, background-color 2s;
     }
     .transtion-transform:hover{
background-color: #cda5a5;
transform: scale(2) rotate(360deg);

     }
     .animation-spin {
    
    animation-name: spin-around;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}


@keyframes spin-around {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}


.animation-color {
    animation: rainbow-shift 4s infinite;
}
@keyframes rainbow-shift {
    0%   { background-color: white; border-color: #ddd; }
    50%  { background-color: #ffe66d; border-color: orange; transform: scale(0.9); }
    100% { background-color: white; border-color: #ddd; }
}


.animation-bounce {
    justify-content: flex-end; 
    padding-bottom: 20px;
}

.ball {
    width: 40px;
    height: 40px;
    background-color: #ff6b6b;
    border-radius: 50%;


}